#triangle-logo {
    width: 80px;
    border-radius: 50%;
}

.referral-label {
    display:block;
    float: left;
    clear:left;
    margin-bottom: 5px;
}

.referral label:last-child {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

.name-check {
    margin-left: 5px;
}

.applicant-info label:nth-child(3) {
    display: block;
    float: left;
    margin-left: 10px;
}

.applicant-info strong {
    margin-left: 20px;
}

.applicant-info span {
    margin-right: 10px;
}

.applicant{
    display: block;
    float: left;
    clear: left;
}